body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #222;
}

.navbar {
  background: darkgreen;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  color: white;
  margin: 0;
}

.navbar nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
  font-weight: bold;
}

.navbar nav a:hover {
  text-decoration: underline;
}

.hero {
  height: 350px;
  background: linear-gradient(to right, #2ecc71, #27ae60);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content {
  color: white;
  width: 70%;
}

.hero-content h1 {
  font-size: 34px;
}

.section {
  padding: 40px;
  text-align: center;
}

.card {
  background: white;
  padding: 20px;
  width: 60%;
  margin: 20px auto;
  border-radius: 12px;
  box-shadow: 0px 0px 10px gray;
  text-align: left;
}

.btn {
  background: darkgreen;
  color: white;
  padding: 10px 20px;
  border: none;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
}

.btn:hover {
  background: green;
}

.footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 50px;
}

.result-box {
  background: white;
  padding: 20px;
  width: 60%;
  margin: 30px auto;
  border-radius: 12px;
  box-shadow: 0px 0px 10px gray;
}

.preview-img {
  width: 250px;
  margin-top: 15px;
  border-radius: 12px;
  border: 2px solid gray;
}
